<h1>
    {{ hello.text }}
</h1>

<div class="container">
    <table class="table table-striped table-hover table-bordered">
        <caption>Styled using Bootstrap CSS.</caption>
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Avatar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{item.id}}</td>
                <td>{{item.first_name}} {{item.last_name}}</td>
                <td>{{item.email}}</td>
                <td><img src="{{item.image}}" alt="image" title="{{item.first_name + ' ' + item.last_name}}"/></td>
            </tr>
        </tbody>
    </table>
</div>